.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6666db;
  padding: 0px 20px;
  position: relative;
  z-index: 1000;
  width: 100%; /* Ensures full width */
  max-width: none; /* Removes content-based width constraint */
  box-sizing: border-box; /* Ensures padding doesn't exceed width */
  height: 100px;
}


.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 140px;
  height: 120px;
  margin-left: -10%;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: -30px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 500;
}

.navbar-right a:hover {

  color: #ffd9007a;
}

.navbar-right a:focus {
  color: #8dbeb2;
  font-weight: bold;
  outline: none;
}

.navbar-hamburger {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-left{
    margin-left: -4%;
  }
  .navbar-logo{
    margin-top: 5%;
    margin-left: -10%;
    height: 90px;
    width: 140px;
  }
  .navbar-title{
    font-size: 1.5rem;
    margin-left: -13%;
  }
 
  .navbar-right {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #7070D2;
      width: 200px;
      padding: 10px;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  }

  .navbar-right.open {
      display: flex;
  }

  .navbar-hamburger {
      display: block;
  }

  .navbar-right a {
      margin: 10px 0;
      font-size: 18px;
      text-align: right;
  }
}
@media (max-width: 480px){
  .navbar-left{
    margin-left: -8%;
  }
  .navbar{
    height: 80px;
  }
}